{% extends 'layouts/base.html' %}

{% block style %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/answer.css' %}" />
{% endblock %}

{% block title %}
  <div class="title-bar">
    <h1>{{question.title}}</h1>
  </div>
{% endblock %}

{% block content %}
  <div class="answer">
    <div class="question">
      <p class="question-text">{{question.text}}</p>
      <div class="question-tags">
        Tags:
        {% for tag in question.tags.all %}
             <a href="{% url 'tag' tag_name=tag|lower %}">{{tag}}</a>
                            {% endfor %}
      </div>
    </div>

    <div class="answers">
      <h3>Answers:</h3>
      {% if not comments %}
      <h4>No answers yet :(</h4>
      {% else %}
      {% for comment in comments %}

      <article class="answer-card" >
        <div class="answer-content">
          <p class="answer-text">{{ comment.text }}</p>
          <div class="answer-author">{{ comment.user }}</div>
          <div class="answer-rating">
            <button class="like-button">👍</button>
            <span class="rating-count">0</span>
            <button class="dislike-button">👎</button>
          </div>
        </div>
      </article>

      {% endfor %}
      {% endif %}
    </div>


    {% include 'component/com_pagination.html' %}

    <div class="new-answer">
      <h3>Your answer:</h3>
      <form style="width: 100%;" action="{% url 'question' question.id %}" method="POST" enctype="application/x-www-form-urlencoded">
        {% csrf_token %}
        <textarea required name="content" rows="5"class="new-answer-input" placeholder="Type your answer here..."></textarea>
        <button class="answer-button">Answer!</button>

    </form>
    </div>
    <button class="submit-answer-button">Send</button>
  </div>
{% endblock %}
