{% extends 'layouts/base.html' %}

{% block style %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block title %}
  <div class="title-bar">
    <h1>Log in</h1>
  </div>
{% endblock %}

{% block content %}
  <form action="{% url 'login' %}" method="POST" enctype="application/x-www-form-urlencoded">
    {% csrf_token %}
    <div class="ask-fields">
      <h3>Login:</h3>
      <label for="username">Login</label>
      <input class="login-form-input" required value="{{ login }}" type="text" name="username" id="username" />
      <h3>Password:</h3>
      <label required for="password">Password</label>
      <input type="password" name="password" id="password" />
    </div>
    {% if request.GET.continue %}
      <input class="password-form-input" type="hidden" name="continue" value="{{ request.GET.continue }}" />
    {% endif %}

    {% if error %}
      <div class="error">
        <h4 class="error-message">Error :( </h4>
      </div>
    {% endif %}
    <button class="search-form-button">Log In</button>
    <p style="text-align: center; margin-bottom: 0;">
      not registered yet? <a href="{% url 'reg' %}">create new account</a>
    </p>
  </form>
{% endblock %}
